.addpost-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.addpost-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.addpost-info {
  width: 95%;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.addpost-content {
  min-height: 400px;
  max-height: 400px; 
  width: 95%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fafafa;
  white-space: pre-wrap;
  text-align: left;
  overflow-y: auto; 
}

.addpost-content:focus {
  outline: none;
  border-color: #a5a8eb;;
}

.addpost-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.addpost-buttons button {
  width: 200px;
  background-color: #a5a8eb;;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.addpost-buttons button:hover {
  background-color: #0056b3;
}

.addpost-image {
  max-width: 100%;
  display: block;
  margin: 10px 0;
  border-radius: 5px;
}
