/* 비밀번호 변경 페이지 제목 */
.updatepassword-title {
  font-size: 28px;
  color: #a5a8eb;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* 메인 컨테이너 */
.updatepassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #a5a8eb;
  border-radius: 10px;
  padding: 30px;
  width: 450px;
  text-align: center;
  margin-top: 20px;
}

/* 프로필 아이콘 */
.updatepassword-profile-icon {
  font-size: 60px !important;
  color: #a5a8eb;
  margin-bottom: 20px;
}

/* 입력 그룹 */
.updatepassword-input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* 입력 필드 */
.updatepassword-input {
  width: calc(75% - 10px);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #a5a8eb;
  border-radius: 5px;
  font-size: 16px;
}

.updatepassword-input:disabled {
  background-color: #f0f0f0; 
  color: #a0a0a0; 
  border: 2px solid #d0d0d0; 
  cursor: not-allowed; 
}

/* 확인 버튼 */
.updatepassword-check-button {
  width: 25%;
  background-color: #a5a8eb;
  color: white;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  min-width: 60px;
  text-align: center;
  margin-left: 10px;
}

.updatepassword-check-button:hover {
  background-color: #878bde;
}

/* 비밀번호 변경 버튼 */
.updatepassword-submit-button {
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background-color: #a5a8eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.updatepassword-submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 에러 메시지 */
.updatepassword-error-message {
  color: red;
  font-size: 14px;
  display: none;
}

#updatepasswordNew {
  text-align: left; 
  width: calc(75% - 10px);
  padding-left: 10px;
  display: block;
  margin-left: 0;
}
